.textBase {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: lighten(black, 60%);
}

.caption2 {
  font-weight: 500;
  font-size: 10px;
  line-height: 13;
}

.caption1 {
  font-weight: 400;
  font-size: 10px;
  line-height: 13;
}

.footnote {
  font-weight: 400;
  font-size: 10px;
  line-height: 13;
}

.callout {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.body {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
}

.subheadline {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4;
}

.headline {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.6;
}

.title3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
}

.title2 {
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
}

.title1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 2.6;
}

.largeTitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 3.2;
}

.semiBold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}
