* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

div {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
